.nav{
    display: flex;
    background-color: antiquewhite;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.nav ul{
    display: flex;
    flex-flow: row;
}
.nav li{
    margin: 20px;
    display: flex;
}
.body{
    background-color: plum;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.info{
    display: flex;
    flex-direction: row;
}
.info h3{
    padding-right: 20px;
}
.home{
    display: flex;
    flex-direction: column;
}
.profile{
    display: flex;
    flex-direction: column;
    padding-right: 2vw;
}
img{
    height: 20vh;
    width: 20vw;
    border: 2px black solid;
}