.nav{
    display: flex;
    background-color: antiquewhite;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: stretch;
}
.nav ul{
    padding: 0px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex-grow: 1;
}
.nav li{
    margin: 20px;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;

}
body{
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    height: 100vh;
    font-size: 1.2rem;
    margin: 0px;
}
.body{
    background-color: plum;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
}
.info{
    display: flex;
    flex-direction: row;
}
.info h3{
    padding-right: 20px;
}
.home{
    display: flex;
    flex-direction: column;
}
.profile{
    display: flex;
    flex-direction: column;
    padding-right: 2vw;
}
img{
    height: 20vh;
    width: 20vw;
    border: 2px black solid;
}
.about{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-top: 100vh;
}
.aboute{
    background-color: green;
    border: 0.2vw black solid;
    margin: 0.2vw;
    font-size: 1.5rem;
}
#p2{
    background-color: red;
}
#p3{
    background-color: blue;
}